.filename {
    font-family: courier, monospace;
    color: #007a00;
}

/* See, for example, 
https://github.com/GNOME/gimp-help-2/blob/master/stylesheets/gimp-help-screen.css
http://svnweb.freebsd.org/doc/head/share/misc/docbook.css?view=markup
 */

.guibutton,.guiicon 
{
  color: inherit;
  background-color: transparent;
  font-style: italic;
  font-weight: bolder;
  white-space: nowrap;
}

.guimenu, .guisubmenu, .guimenuitem, .guilabel
{
   font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #238b22;    /* Forest green */
}

.command, .prompt {
	font-weight: bold;
}

.note {
	border: solid;
	border-width: 2px;
	border-color: green;
	padding-left: 15px;
	padding-right: 15px;
}


.programlisting {
    padding: 1ex;
    background-color: #eee;
    border: 1px solid #ccc;
    line-height: 1.1;
}

.screen {
    background-color: #F0F0F0;
    padding: 1ex;
}

.application {
    font-family: sans-serif;
    font-style: italic;
/*    font-variant: small-caps; */
}

tr { margin: 0.2em; padding: 0.2em; }
 
.variablelist {
	background-color: #F0F0F0;
	padding: 6px;
}

.variablelist tr { margin: 0.2em;padding: 0.2em;}

.variablelist td { vertical-align:top; padding-top: 0.3em;padding-bottom:0.3em;}

table td { vertical-align:top; padding: 0.5em;}

td { background-color: #F0F0F0;  }

.toc {
	background-color: #F0F0F0;
	padding: 6px;
}

.term { font-weight: bold;
	padding-right: 2em;
        }

.equation { margin: 0.2em; padding: 0.2em; }

.equation {  text-align:center; }

.vector { font-weight: bold }

td > p { margin: 0; padding:0;}

p + p { margin-top: 0.8em; }


blockquote, .example, .programlisting {
    border-radius: 6px;
}

blockquote {
    padding: 0 2ex;
}

blockquote.note {
    color: #222;
    background: #eee;
    border: 1px solid #ccc;
    width: 85%;
}

blockquote.tip {
    color: #004F00;
    background: #d8ecd6;
    border: 1px solid green;
    width: 85%;
}

blockquote.important {
    font-style:italic;
    border: 1px solid #a00;
    border-left: 12px solid #c00;
}

blockquote.warning {
    color: #9F1313;
    background: #f8e8e8;
    border: 1px solid #e59595;
    width: 85%;
}

blockquote.caution {
    color: #3E3535;
    background: #FFC;
    border: 1px solid #e59595;
    width: 85%;
}

.example { 
    background: #fefde6;
    border: 1px solid #f1bb16;
    margin: 1em 0;
    padding: 0.2em 2em;
    width: 90%;
}