

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}


body { 
 margin: 0;
 padding: 0;
 font-family: Georgia, Palatino, 'Palatino Linotype', Times, 'Times New Roman', serif;
 font-size: 20px;
}

@media only screen and (min-width: 480px) {
  body {
    font-size: 14px;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}
@media only screen and (min-width: 968px) {
  body {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}

body > h1  { padding-left: 0.2em; margin-left: 0.2em }
body > h2  { padding-left: 0.2em; margin-left: 0.2em }

table.layout { 
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

table.layout > tr > td
{ 
  vertical-align: top;
}

.sidebar { 
   text-align: left;

   font-size: 90%;
   margin: 0em; 
   padding: 0.4em 0.4em 0.4em 0.0em;
   max-width: 12em;
}


.sidebar ul {  
   margin-top: 0;
   padding-left: 0.7em;
   margin-left: 0.7em;

   list-style-image: none;
}

.sidebar ul ul {
/* generic properties for .sidebar ul */
   padding-left: 0.8em;
   margin-left: 0.8em;
}

.sidemenu > ul {
  list-style-type: none;
  margin-left:0.1em;
  padding-left:0.1em;
}

.center { 
  padding: 0;
  margin: 0;
}

.menubar {  
  padding: 0.4em;
}

.navbar .navitem { 
  padding-left: 1.5em;
  padding-right: 1.5em;
}

tr { 


}

.navitem a {
   color: rgb(60,130,210); 
   font-weight: bold;
}

.sidemenu > ul > li {
   padding: 0.05em;
   padding-bottom: 0.6em;
}

.sidemenu > ul > li > a {
   color: rgb(60,130,210); 
   font-size: 120%;
}

.main { 
    margin: 0.5em;
    max-width: 50em;
}

ul.changelog li {font-weight: bold; color: blue}
ul.changelog li li {font-weight: normal; color: black}
.release_dates ul {display: inline; padding: 0; padding-left: 0.5}
.release_dates li {display: inline; padding-left: 1em; white-space:nowrap}

.timepoint-new {font-family:monospace ; font-size: 85%; color: orange}
.timepoint     {font-family:monospace ; font-size: 85%; color:rgb(0,0,100)}

.userinput {font-family:times,monospace; background-color:rgb(240,240,240); }

ul.changelog .heading2 {font-weight: bold; color: green}


ul.uncompressed li {margin-bottom:1em}
